<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>
      <%= flight.airline %>
      <a href="/flights/<%= flight._id %>/edit">
        <button>Edit Flight</button>
      </a>
    </div>
    <div>Airport: <%= flight.airport %> </div>
    <div>FlightNo: <%= flight.flightNo %></div></div>
    <div>Departs: <%= flight.departs %></div>
  </section>
</main>
  
<%- include('../partials/footer') %>